@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


p {
    font-weight: 300;
    color: #111;
}

/*Home Section Start*/

/* 1. navigation bar*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    border-width: 0 0 2px 0;
    border-color: rgba(125, 117, 117, 0.46);
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    border-width: 0 0 1px 0;
    border-color: rgba(125, 117, 117, 0.46);
    border-style: solid;
    padding: 10px 100px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);    
}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header.sticky .logo {
    color: #111;
}

header .logo span {
    color: #2babff;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    padding: 4px 10px;
    transition: all 0.2s ease-in-out;
}

header.sticky .navigation li a {
    color: #111;
}

header .navigation li a:hover {
    color: #2babff;
    font-weight: 300;
    background-color: #d9eff3;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

/* 2. banner  */
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #111 ;
    background-position: center;
    background-size: cover;
}

.banner .content {
    max-width: 3000px;
    text-align: center;
    padding-top: 40px;
}

.banner .content h2 {
    font-size: 4.2em;
    color: #fff;
}

.banner .content h2 span {
    color: #2babff ;
}
/* 3. resume button */

.btn {
    font-size: 1em;
    color: #fff;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    text-transform: uppercase;
    background: #2babff;
    letter-spacing: 2px;
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(0.9);
    color: #111;
}

/* 4. socials */
.socials{
    padding: 2%;
}
.banner .socials a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 2em;
    line-height: 35px;
    margin-right: 2%;
    margin-top: 3%;
}
.banner .socials a:hover{
    transform: scale(1.2);
    transition: 300ms ease-in-out;
}

/* 5. scroll down*/
.container {
	width: 100%;
	height: 100%;
    margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.field {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 300px;
}
.banner .content .container .field .scroll{
    position: absolute; 
    bottom: 10%;
}
.scroll {
	width: 60px;
	height: 60px;
	border: 2px solid white;
	border-radius: 50%;
	position: relative;
	animation: down 1.2s infinite;
	&::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 2px solid #2babff;
  	    border-bottom: 2px solid #2babff;
		transform: rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(20px);
	}
	50% {
		transform: translate(0);
	}
}

/*Home Section End*/

/*About Section*/
section {
    padding: 4em;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.row .col50 {
    position: relative;
    width: 48%;
}

.titletext {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.titletext span {
    color: #2babff;
    font-weight: 700;
    font-size: 1.5em;
}

.row .col50 .imgBx {
    position: relative;
    width: 100%;
    height: 100%;
}

.row .col50 .imgBx img {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    transition: all 1s ease;
    cursor: pointer;
}
.row .col50 .imgBx img:hover{
    transform: scale(1.09);
}

.section{
    padding: 5px;
    border-radius: 10px;
    background-color: #d9eff3;
    transition: all 1s ease;

}
.about .section:hover{
    background-color: skyblue;
   
}
h4{
    color: #111 ;
}
.heading{
    width: 30%;
}
.date{
    font-size: 13px;
    color: #111;
    justify-content: center;
    margin-left: 20px;
    padding: 2px 20px 0 20px;
    background: #2babff;
    border-radius: 15px;
}
.description{
    color: #007989;
}
.bullets{
    list-style: none;
}

/*About Section End*/

/*Project Section*/

.wrapper {
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
}

.wrapper .center-line {
    position: absolute;
    height: 100%;
    width: 4px;
    background: #2babff;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
}

.wrapper .row {
    display: flex;
}

.wrapper .row-1 {
    justify-content: flex-start;
}

.wrapper .row-2 {
    justify-content: flex-end;
}

.wrapper .row section {
    background: #d9eff3;
    border-radius: 15px;
    width: calc(50% - 40px);
    padding: 20px;
    margin-bottom: 2px;
    position: relative;
    transition: all 1s ease;

}
.title{
    color: #2babff;
}

.wrapper .row section:hover{
    background: skyblue;
    font-weight: 500;
    .title{
        color: #111;
    }

}

.wrapper .row section::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: #d9eff3;
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
}

.row-1 section::before {
    right: -7px;
}

.row-2 section::before {
    left: -7px;
}

.row section .icon, .center-line .scroll-iocn {
    position: absolute;
    background: #d9eff3;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    color: #2babff;
    font-size: 17px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.center-line .scroll-iocn {
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
}

.row-1 section .icon {
    top: 15px;
    right: -60px;
}

.row-2 section .icon {
    top: 15px;
    left: -60px;
}

.row section .details, .row section .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row section .details .title {
    font-size: 22px;
    font-weight: 600;
}

.row section p {
    margin: 10px 0 17px 0;
}

.row section .bottom a {
    text-decoration: none;
    background-color: #2babff;
    color: #fff;
    padding: 7px 15px;
    border-radius: 25px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.row section .bottom a:hover {
    transform: scale(0.9);
    color: #111;
    font-weight: 600;
}

/*Project Section End*/

/*Ceertificates section */

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu .content {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 8%;
    flex-wrap: wrap;

}

.menu .content .box {
    width: 280px;
    margin: 0px;
}

.menu .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 220px;
}

.menu .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);    
    transition: all 0.3s ease;
    cursor: pointer;
}

.menu .content .box .imgBx img:hover {
    transform: scale(1.1);
    
}

.menu .content .box .text {
    padding: 15px 0 5px;
}

.menu .content .box .text h3 {
    font-weight: 400;
    color: #111;
}

/*Project section End*/

/*Contact Section */

.contact {
    background-color: rgba(135, 207, 235, 0.788);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactForm {
    padding: 75px 50px;
    background: rgba(255, 255, 255, 0.757);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.4);  
    min-width: 30%;
    margin-top: 50px;
    border-radius: 20px;
}

.contactForm h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactForm .inputBox input, .contactForm .inputBox textarea {
    width: 100%;
    border: 1px solid #2babff;
    padding: 10px;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    resize: none;
}

.contactForm .inputBox input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: #2babff;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    max-width: 100px;
    border: 1px solid #007989;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.contactForm .inputBox input[type="submit"]:hover {
    transform: scale(1.1);
    color: #111;
    font-weight: 600;
}

/*Contact Section End*/

/*Fotter Section */

.copyrightText {
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 2px;
}

.copyrightText p {
    color: #333;
}

.copyrightText a {
    text-decoration: none;
    font-weight: 500;
    color: #2babff;
}

.copyrightText .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 21px;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
.fa-instagram {
    color: #e41a1a;
}

.fa-linkedin {
    color: #0077b5;
}

.fa-github{
    color: #111;
}

.copyrightText .footer-icons a:hover {
    transform: scale(1.2);
    transition: all 500ms ease-in-out;
}

@media (max-width: 440px) {
    .copyrightText {
        padding: 20px;
        text-align: center;
        width: 360px;
    }
}

/*Fotter Section End*/

/* Project Responsive Section*/

@media (max-width: 790px) {
    .wrapper .center-line {
        left: 50px;
    }
    .wrapper .row {
        margin: 30px 0 3px 25px;
    }
    .wrapper .row section {
        width: 100%;
    }
    .row-1 section::before {
        left: -7px;
    }
    .row-1 section .icon {
        left: -60px;
    }
}

@media (max-width: 440px) {
    .wrapper .center-line {
        left: 18px;
    }
    .wrapper .row {
        margin: 10px 0;
        width: 244px;
        margin-left: 38px;
    }
    .menu .contact .box .imgBx img {
        left: 20px;
    }
}

@media (max-width: 950px) {
    .wrapper .center-line {
        left: 5px;
    }
    .wrapper .row {
        margin: 30px 0 3px 25px;
    }
    .wrapper .row section {
        width: 100%;
    }
    .row-1 section::before {
        left: -7px;
    }
    .row-1 section .icon {
        left: -60px;
    }
}

/* Service Responsive Section End*/

/* Navbar Responsive Section*/

@media (max-width: 950px) {
    header, header.sticky {
        padding: 10px 20px;
    }
    header .navigation {
        display: none;
    }
    .menuToggle {
        position: relative;
        width: 30px;
        height: 40px;
        margin-top: 2vh;
        background: url(images/bar.png);
        background-color: #d9eff3;
        border-radius: 10%;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;    
    }
    .menuToggle:hover {
        background-color: #2babff;
        border-radius: 5px;
        transition: 0.5s ease-in-out;
    }
    .menuToggle.active {
        background: url(images/bar.png);
        background-size: 30px;
        background-color: #d9eff3;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    header.sticky .menuToggle {
        filter: invert(0);
    }
    header .navigation.active {
        width: 100%;
        height: 100;
        position: fixed;
        top: 73px;
        left: 60%;
        align-items: left;
        justify-content: top;
        flex-direction: column;
        background: #fff;
        display: flex;
    }
    header .navigation li {
        list-style: none;
        border-bottom: 1px solid #2babff;
    }
    header .navigation li:hover{
        list-style: none;
        border-bottom: 1px solid #2babff;
        background-color: #d9eff3;
    }
    
    header .navigation li {
        margin-left: 0;
    }
    header .navigation li a {
        color: #111;
        font-size: 1.6em;
    }
    section {
        padding: 20px;
    }
    .banner .content h2 {
        font-size: 2.3em;
    }
    .row {
        flex-direction: column;
    }
    .row .col50 {
        position: relative;
        width: 100%;
    }
    .row .col50 .imgBx {
        height: 300px;
        margin-top: 20px;
    }
    .menu .contact {
        margin-top: 20px;
        height: 300px;
    }
    .menu .contact .box {
        margin: 10px;
    }
    .menu .contact .box .imgBx {
        height: 210px;
    }
    .title {
        text-align: center;
    }
    .contactForm{
        padding: 35px 40px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/* Navbar Responsive Section End*/
